@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
    background: rgb(11, 11, 11);
    border-bottom:solid rgb(255, 255, 255);
}

.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: white !important;
}

#navbarSupportedContent a{
    color: #fff;
    border-bottom: 2px solid transparent;
}

#navbarSupportedContent a:hover{
    border-bottom: 2px solid white;
}

#navbarSupportedContent button{
    background: white;
    width: 6rem;
    border-radius: 20px;
    color: black;
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#home{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.9)),url(assets/bg.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

#home h1{
    font-size: 100px;
    color: white;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 3px 0px #ccc,
                 0px 4px 0px #ccc,
                 0px 5px 0px #ccc,
                 0px 6px 0px #ccc,
                 0px 7px 0px #ccc;
    margin-left: 25px;
    margin-right: 25px;
}

#home p{
    font-size: 25px;
    color: #fff;
}

#home .input-group{
    width: 40%;
    height: 45px;
}

.signin{
    background: black!important;
    color:white !important;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, .3);
    border: .25px solid gray !important;
}


.food{
    display: flex;
    justify-content: space-between;
}

.mapp{

    /* pointer-events: none; */
    border: 3px solid rgb(77, 77, 77);
    position: relative;
}

#map .food .title{
    padding-top: 20%;
    padding-right: 100px;
    align-items: center;
    justify-content: center;
}

#map .food .sub{
    padding-right: 100px;
    text-align: center;
    font-weight: 600;
}

.food .pic{
    width: 380px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

#contact{
    background: rgb(255, 255, 255);
}

#contact h1{
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 700;
}

#contact img{
    height: 90%;
    object-fit: cover;
}

.box{
    width: 80% !important;
    margin-top: 10px;
}

form{
    display: flex;
    flex-direction: column;
}

.msg{
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
    margin-top: 25px;
    font-weight: bold;
}

#contact input{
    margin: 10px 0px;
    padding: 10px;
}

#contact textarea{
    margin: 10px 0;
    height: 200px;
    padding: 10px;
}

footer{
    width: 100%;
    height: 30px;
    background:black;
    margin-top: -50px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 3px;
    opacity: .8;
}

#about{
    background: black;
}

#about h1{
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 25px;
    color: white;
    letter-spacing: 1px;
    
}

#about p{
    font-weight:550;
    text-align: left;
    color: gray;
    font-size: 20px;
}

#about img{
    align-items: center;
    justify-content: center;
    width: 800px;
    padding-top: 50px;
}

#container{
    padding: 2rem;
    overflow-anchor: none;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    overflow-anchor: none;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 0.5rem;
    scrollbar-width: 1px;
    border: solid white 1rem;
    overflow-anchor: none;

}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    overflow-anchor: none;
    border-radius: 0.5rem;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: -2.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    overflow-anchor: none;
}

.slider-nav a{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.75;
    transition: opacity ease 250ms;
    overflow-anchor: none;
}

.slider-nav a:hover{
    opacity: 1;
}

.headi{
    text-align: center;
    margin-bottom: -10rem;
    margin-top: 10rem;
    font-weight: 600;
    font-size: 3rem;
}
.namei p span{
    font-size: 1.5rem;
}

.namei{
    margin-top: 2rem;
    padding-top: 1rem;
    font-weight: 600 !important;
    font-size: 2.5rem;
}

.boxx{
    width: 75%;
    height: 30rem;
    background: white;
    padding-left: 2rem;
    margin: auto;
    border-radius: 2rem;
    margin-top: 5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.banner img{
    height: 350px;
    width: 550px;
    object-fit: cover;
    border-radius: 1rem;
}

.flexx{
    display: flex;
}
.desc{
    padding: 3rem;
    font-size: 1.2rem;
    text-align: center;
    margin-top: -6rem;
}

.desc span{
    font-size: 3rem;
    font-weight: 600;
}

.checked {
    color: orange;
  }

.rate{
    display: flex;

}

.loc{
    width: 60px;
    position: absolute;
    z-index: 2;
    right: 310px;
    bottom: 230px;
}

.mappp{
    pointer-events: none;
}

.loc1{
    width: 100px;
    position: absolute;
    z-index: 2;
    right: 450px;
    bottom: 180px;
}

.loc2{
    width: 100px;
    position: absolute;
    z-index: 2;
    right: 350px;
    bottom: 120px;
}
